body {
    background: #fff;
    margin: 0;
}

#side_nav {
    background: #ffbc2c;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
}

.brand-text {
    font-size: 14px;
    padding-top: 6px;
    padding-left: 5px;
    align-items: center;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 100vh;
}

.row {
    margin: 0 !important;
}

.sidebar li.active {
    background: #fff;
    border-radius: 8px;
}

.sidebar li.active a, sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

.dataTables_wrapper {
    width: auto;
    margin: 0 auto;
}

@media (max-width: 767px){
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }
}